*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  HEADER */

header{
    background-color: white;
    width: 100%;
    margin: 1%;
}

.flexHeader{
    display: flex;
    justify-content: space-between;
}

.flexLeft{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    justify-content: space-between;
}


.flexRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 1%;
}

.blueButton{
    height: 30px;
    width: 70px;
    background-color: blue;
    text-align: center;
    padding: 5px;
    color: white;
}

.headerLeft{
    width: 25%;
}

.headerRight{
    width: 25%;
}

/* JUMBOTRON */

.jumbotronContainer{
    width: 100%;
    background-color: yellow;
    padding-top: 2%;
    /* padding-bottom: 2%; */
}

.jumbotron{
    width: 80%;
    margin: auto;
    background-color: green;
}

.jTitleContainer{
    background-color: blue;
}

.jumboTitle{
    background-color: grey;
    text-align: center;
}

.underTitleContainer{
    background-color: blueviolet;
}

.jumboLeft{
    background-color: deeppink;
    width: 35%;
}
.jumboRight{
    background-color: deeppink;
    width: 60%;
}

.flexJumbo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SECTION 1 - TROVA IL PIANO BUSINESS CHE FA PER TE */

.section1{
    width: 70%;
    margin: auto;
    background-color: blue;
}

.sec1Title{
    text-align: center;
}

.tariffFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tariffContainer{
    margin-bottom: 3%;
}

.tariffCard{
    width: 30%;
    height: 150px; /*da eliminare*/
    background-color: azure;
    margin: 5px;
}

/* SECTION 2 - ENTERPRISE ORIZZONTALE */

.section2{
    width: 70%;
    margin: auto;
    background-color: blue;
}

.section2Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section2Left{
    width: 60%;
    padding: 5px;
    background-color: yellowgreen;
}

.section2Right{
    width: 40%;
    padding: 5px;
    background-color: yellowgreen;
}

/* SECTION 3 - ENTRA IN CONTATTO CON UN PARTNER DROPBOX */

.section3{
    width: 70%;
    margin: auto;
    background-color: blue;
}

.section3Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section3Left{
    background-color: red;
    width: 40%;
}

.section3Right{
    background-color: red;
    width: 40%;
}