@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/*  HEADER */

header{
    background-color: white;
    width: 100%;
    margin: 1%;
}

.flexHeader{
    display: flex;
    justify-content: space-between;
}

.flexLeft{
    display: flex;
    flex-direction: row;
    margin-left: 1%;
    justify-content: space-between;
}


.flexRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-content: space-between;
    margin-right: 1%;
    
}

.blueButtonHeader{
    height: 30px;
    width: 60px;
    background-color: blue;
    text-align: center;
    padding: 5px;
    color: white;
}



.headerLeft{
    width: 25%;
}

.headerRight{
    width: 25%;
}

/* JUMBOTRON */

.blueButton{
    height: 30px;
    width: 250px;
    background-color: blue;
    text-align: center;
    padding: 4px;
    color: white;
 
}

.jumbotronContainer{
    width: 100%;
    background-color: lightblue;
    padding-top: 2%;
    /* padding-bottom: 2%; */
}

.jumbotron{
    width: 80%;
    margin: auto;
    /* background-color: green; */
}

.jTitleContainer{
   /*  width: 50%; */
    margin: auto;
}

.jumboTitle{
/*     background-color: grey; */
/*     text-align: center; */
    font-size: 6rem;
    /* margin-bottom: 5%; */
}

.underTitleContainer{
/*     background-color: blueviolet; */
    position: relative;
    top: 80px;
}

.jumboLeft{
/*     background-color: deeppink; */
    width: 25%;  
}

.jumboLeft p{
    text-align: left;
    /* margin-bottom: 5%; */
    font-size: larger;
}

#buttonJumbo{
    margin-bottom: 15%;
    margin-top: 15%;
}

.fa-arrow-down{
    font-size: 300%;
    margin-top: 40%;
}

/* .marginP{
    margin-bottom: 10%;
} */

.jumboRight{
/*     background-color: deeppink; */
    width: 70%;
}

#jumboImg{
    width: 100%;
}

.flexJumbo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SECTION 1 - TROVA IL PIANO BUSINESS CHE FA PER TE */

.indentProva{
    text-indent: -0.6em;
    padding-left: 1em;
}

.section1{
    width: 70%;
    margin: 5% auto;
    /* background-color: blue; */
}

.sec1Title{
    text-align: left;
    font-size: 2rem;
}

.sec1Title h2{
    margin-bottom: 5%;
}

label{
    font-size: 1.2rem;
}

.tariffFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tariffContainer{
    margin-bottom: 3%;
}

.tariffCard{
    width: 30%;
    /* height: 150px; */ /*da eliminare*/
    background-color: white;
    margin: 5px;
    /* height: 700px; */

}

.cardTitle{
    border: 1px solid grey;
}

.cardTitle h3{
/*     margin-left: 3%; */
    padding: 2%;
    text-align: center;
}

.cardText{
    padding: 4%;
    border: 1px solid grey;
    border-top: none;
}

.blueText{
    color: blue;
    text-decoration-line: underline;
}

.acquistaOra p{
    display: inline-block;
    margin-bottom: 7%;
}

.shortLine{
    margin-left: 2%;
    margin-bottom: 7%;
    width: 75px;
    height: 1px;
    background-color: grey;
}

.fa-check{
    color: blue;
}

.cardText p,
.cardText h2,
.cardText h4{
    margin-bottom: 7%;
}

/* SECTION 2 - ENTERPRISE ORIZZONTALE */

.section2{
    width: 70%;
    margin: auto;
    /* background-color: blue; */
}

.sec2Title{
    padding: 1%;
    text-align: center;
    border: 1px solid grey;
}

.section2Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
    border-top: none;
}

.section2Left{
    width: 70%;
    padding: 5px;
    padding-top: 4%;
    /* background-color: yellowgreen; */
}

.section2Left h3{
    margin-bottom: 4%;
}

.section2Left p{
    margin-bottom: 8%;
}

#pMargin{
    margin-bottom: 4%;
}

.section2Right{
    width: 30%;
    padding: 5px;
    padding-top: 4%;
    /* background-color: yellowgreen; */
}

/* SECTION 3 - ENTRA IN CONTATTO CON UN PARTNER DROPBOX */

.section3{
    width: 70%;
    margin: auto;
    /* background-color: blue; */
}

.section3Container{
    margin-top: 10%;
}

.section3Flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section3Left{
/*     background-color: red; */
    width: 60%;
}

.section3Right{
/*     background-color: red; */
    width: 35%;
    text-align: left;
    padding-top: 7%;
    padding-right: 5%;
}

.section3Right h3{
    margin-bottom: 6%;
}

.section3Right p{
    margin-bottom: 6%;
}

.whiteButton{
    height: 30px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding: 4px;
    color: black;
}

#sec3Img{
    width: 100%;
}

/* SECTION 4 - ESEGUI PIU' OPERAZIONI CON DROPBOX BUSINESS */

.section4{
    width: 70%;
    margin: auto;
}

.cardsContainer{
    width: calc(100% / 3);
    /* margin: 15px; */
    padding: 2%;
}

.flexCard{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.imageSec4{
    /*     max-width:100%;
        max-height:100%; */
        width: 100%;
        object-fit: contain;
    }

